$calendar-input-width: 200px;
$border-radius: 3px;
$icon-font-size: 14px;
$icon-padding: 6px 8px;

$calendar-width: 300px;
$over-4-col-width: #{$calendar-width / 4};
$over-7-col-width: #{$calendar-width / 7};

$selected-color: #DB3D44;
$outside-color: #EEEEEE;
$border-color: #CCCCCC;