@import 'variables';

$calendar-width: 300px;
$calendar-min-width: 300px;
$over-4-col-width: calc(300px / 4);
$over-7-col-width: calc(300px / 7);

.calendar {
    width: $calendar-width;
    min-width: $calendar-min-width;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 15px 0px;
    background-color: #FFFFFF;
    .icon {
        font-size: $icon-font-size;
        padding: $icon-padding;
        cursor: pointer;
    }
    .mode-btn {
        width: 100%;
        font-weight: bold;
        &:hover {
            background-color: $outside-color;
        }
    }
    .control {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    .calendar-body {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .year-item,
        .month-item {
            width: $over-4-col-width;
            height: $over-4-col-width;
            line-height: $over-4-col-width;
        }
        .day-item {
            width: $over-7-col-width;
            height: $over-7-col-width;
            line-height: $over-7-col-width;
            &.hdr {
                font-weight: bold;
            }
            &.holiday,
            &.today {
                color: $selected-color
            }
        }
        .item {
            cursor: pointer;
            border-radius: 50%;
            &.outside {
                color: $outside-color;
            }
            &:hover {
                background-color: $border-color;
                font-weight: bold;
            }
        }
        .item.selected {
            color: #FFFFFF;
            background-color: $selected-color;
            font-weight: bold;
            &.outside {
                color: $outside-color;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
@media (min-width: $calendar-min-width) {
    $calendar-width: 100vw;
    $over-4-col-width: calc( 100vw / 4);
    $over-7-col-width: calc( 100vw / 7);
    .calendar {
        width: $calendar-width;
        .calendar-body {
            display: flex;
            width: $calendar-width;
            flex-wrap: wrap;
            .year-item,
            .month-item {
                width: $over-4-col-width;
                height: $over-4-col-width;
                line-height: $over-4-col-width;
            }
            .day-item {
                width: $over-7-col-width;
                height: $over-7-col-width;
                line-height: $over-7-col-width;
            }
        }
    }
}
@media (min-width: 576px) {
    $calendar-width: 300px;
    $over-4-col-width: #{$calendar-width / 4};
    $over-7-col-width: #{$calendar-width / 7};
    .calendar {
        width: $calendar-width;
        .calendar-body {
            display: flex;
            width: $calendar-width;
            flex-wrap: wrap;
            .year-item,
            .month-item {
                width: $over-4-col-width;
                height: $over-4-col-width;
                line-height: $over-4-col-width;
            }
            .day-item {
                width: $over-7-col-width;
                height: $over-7-col-width;
                line-height: $over-7-col-width;
            }
        }
    }
}