.modal {
    position: relative;
    .mask {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: transparent;
    }
    .content {
        position: absolute;
        z-index: 999;
        top: 0;
    }
}